{% extends 'base.html' %}

{% block title %}{{produk.nama}}{% endblock title %}

{% block content %}
<div class="container mx-auto p-4 flex">
<div class="">
  {% if produk.gambar and produk.gambar.url %}
  <img class="max-h-[80vh]" src="{{produk.gambar.url}}" alt="{{produk.nama}}">
  {% else %}
  <p>Gambar Tidak Tersedia.</p>
  {% endif %}

  <h3 class="font-bold">{{produk.nama}}</h3>
  <p>{{produk.deskripsi}}</p>
  <p class="text-indigo-600">Rp. {{produk.harga}}</p>

  <form action="{% url 'keranjang:tambah_keranjang' produk.id %}" method="post" id="tambah_ke_keranjang_form">
    {% csrf_token %}
    <button class="bg-indigo-600 text-white px-4 py-2 rounded" type="submit">Tambah ke Keranjang</button>

    <p id="message"></p>
  </form>
</div>

</div>

<script>
  document.getElementById('tambah_ke_keranjang_form').addEventListener("submit", function(event){
    event.preventDefault();

    const form = event.target;
    const url = form.action;
    const formData = new FormData(form);

    fetch(url, {
      method: 'POST',
      headers: {
        'X-CSRFTOKEN': formData.get('csrfmiddlewaretoken')
      },
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      const messageElement = document.getElementById('message');
      if (data.success) {
        messageElement.textContent = data.message;
        messageElement.className = "text-green-600 font-bold mt-2";
      } else {
        messageElement.textContent = "Gagal Menambahkan ke Keranjang.";
        messageElement.className = "text-red-600 font-bold mt-2";
      }
    })
    .catch(error => {
      const messageElement = document.getElementById('message');
      messageElement.textContent = "Terjadi kesalahan pada server.";
      messageElement.className = "text-red-600 font-bold mt-2";
    });
  });
</script>
{% endblock content %}